<a href="https://colab.research.google.com/github/kadake-s/ATM-Machine/blob/main/Machine_Learning2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('emails.csv')

In [3]:
 df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [4]:
df.columns

Index(['Email No.', 'the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=3002)

In [5]:
 df.shape

(5172, 3002)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [7]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [8]:
 df.isnull().sum().sum()

0

In [9]:
df.drop(['Email No.'], axis=1, inplace=True)

In [10]:
x = df.drop(['Prediction'], axis=1)
y = df['Prediction']

In [11]:
from sklearn.preprocessing import scale
x = scale(x)

In [12]:
 from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state
=42)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7)

In [14]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [15]:
 y_pred = knn.predict(x_test)

In [16]:
y_pred

array([0, 0, 1, ..., 1, 1, 1])

In [17]:
from sklearn import metrics
accuracy = metrics.accuracy_score(y_test, y_pred)
accuracy

0.8009020618556701

In [18]:
cm = metrics.confusion_matrix(y_test, y_pred)
cm

array([[804, 293],
       [ 16, 439]])

In [19]:
from sklearn.svm import SVC
model = SVC(C=1)

In [20]:
model.fit(x_train, y_train)

SVC(C=1)

In [21]:
 y_pred_sv = model.predict(x_test)

In [22]:
accuracy_sv = metrics.accuracy_score(y_test, y_pred)
accuracy_sv

0.8009020618556701

In [23]:
cm_sv = metrics.confusion_matrix(y_test, y_pred)
cm_sv

array([[804, 293],
       [ 16, 439]])